@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sane&display=swap');
*,

/* --text: #0a100e;
--background: #fcfdfd;
--primary: #24473d;
--secondary: #c9ded8;
--accent: #4e76a6;*/

:root {
    /* --accent: #08fdd8; */
    /* --soundcloud-color: #f50057; */
    --shadow: #2b2b2b;
    --blog-hover: #06b99e;
    --html-tag: #666565;


    --parchment: #EDE6CC;
    --darkgreen-0: #152923;
    --darkgreen-1: #12352F;
    --darkgreen-2: #12352F;
    --darkgreen-3: #244B46;
    --darkgreen-4: #264D48;
    --darkgreen-5: #376d5d;
    --accent: #4e76a6;
    --accent: #4aa58c;
    --accent-2: #B9DFD5;
    --soundcloud-color: #4aa58c;

    --dark-0: #000;
    --dark-1: #181818;
    --dark-2: #191919;
    --dark-3: #2d2d2e;
    --dark-4: #909096;
    --dark-5: #8a8484;
    --dark-6: #1d1d1d;
    --white: #fff;

/* 
    --text: #0a100e;
    --background: #fcfdfd;
    --primary: #24473d;
    --secondary: #c9ded8;
    --accent: #4e76a6; */
}
html{
    scroll-behavior: smooth;
}

::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
    color: var(--parchment);
    background: var(--darkgreen-1);
    overflow-x: hidden;
}
.fake-big{
    display: block;
    font-size: 10rem;
    font-weight: bolder;
    position: absolute;
    left: 170px;
    color: var(--darkgreen-3);
    text-shadow: 2px 2px 4px 0 rgba(27, 26, 26, 0.5);
    user-select: none;
}

header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
 }
 #sound{
    padding: 7px;
    background-color: var(--darkgreen-1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--white);
 }
 .sound-cloud{
    font-size: 1.2rem;
    margin:7px;
    color: var(--soundcloud-color);
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: var(--soundcloud-color);
}
#on{
    display:none;
    color: var(--accent);
}
.btns-container .fa{
    font-size: 2rem;
    padding: 10px;
    background-color: var(--darkgreen-0);
    color: var(--parchment);
    cursor:pointer;
}
.btns-container .fa:nth-child(2){
    display: none;
}

/*aside section starts here*/
.aside{
    width: 100%;
    height: 0%;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    background-color:var(--darkgreen-4);
    z-index: 1;
}
.asidename{
    color: var(--parchment);
}
.show-nav{
    height: 100%;
    overflow: hidden;
}
.aside-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkgreen-0);
    color:var(--parchment);
}

.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height:auto;
}
.logo span{
    font-size: 1.7rem;
    color: var(--accent-2);
}
.logo-section > span{
    margin-top: 25px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

/*nav section starts here */

.nav-links a{
    display: block;
    text-align:center;
    line-height: 3rem;
    text-decoration: none;
    color:  var(--parchment);
}
.nav-links a:hover{
    color: var(--accent);
}
.nav-links a::before{
    content: '';
    width:100%;
    height: 1px;
    position: absolute;
    left:0;
    background-color: var(--darkgreen-2);
}

/* social icons*/

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
    padding-left: 20px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: var(--accent);
}
.social-icons li a:hover{
    color: var(--accent-2);
}

/* nav bar ends here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone h1{
    font-size: 3.2rem;
    line-height: 50px;
    letter-spacing: -3px;
    position:relative;
}
.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: var(--darkgreen-5);
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -30px;
    right: -70px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: var(--darkgreen-5);
    letter-spacing: 3px;
}
.text-zone img{
    width: 40px;
    margin-bottom: -2px;
    height: auto;

}
.text-zone .gray-text{
    margin-top: 30px;
    color: var(--darkgreen-5);
    letter-spacing: 3px;
    font-size: 14px;
    top: -20px;
    position: relative;
}

/* contact me butotn*/

.contact-button{
    margin-top: 50px 0 0;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: var(--accent);
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: var(--accent);
    transform: skewX(-19deg);
}
.contact-button:hover span.bg{
    width:110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid var(--accent);
    box-sizing: border-box;
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact-button:hover span.text{
    color: var(--darkgreen-0);
}
.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:rotate(90deg);
    display:block;
    font-size: 14px;
}
.scroll-down--left{
    left: -30px;
    right:auto;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
    0% {
        transform: translateX(-7px);
    }
    100% {
        transform:  translate(7px);
    }
}
.scroll-down .fa{
    transform: rotate(270deg);
    margin-left: 10px;
}


#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}
#header{
    font-size: 2rem;
    color: var(--accent);
    margin-bottom: 30px;
}
.text-zone-2 p{
    line-height: 1.5;
}
.fake-big-2{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    width: 100%;
    color: var(--darkgreen-3);
    
    left: 10px;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
}
.fake-magicwall{
    background-color: rgba(255,255,255,0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}

.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity0.5s, -webkit-transform 0.5s; 
}
.fake-magicwall img {
    width:100%;
    height: 100%;
    object-fit:cover;
}
.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.14);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}

#section-about{
    padding-left: 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text-zone3 p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}
.tech{
    text-align: none;
    color: var(--accent);
}


/* popup window styling */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 0px;
    background: var(--darkgreen-2);
    border-radius: 5px;
    width: 50%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 5s ease-in-out;
  }
  .popup h2 {
    color: var(--accent);
    font-family: sans-serif;
    position: absolute;
    left: 15px;
    top: 0px;
  }
  .popup h4 {
    color: var(--accent-2);
    position: absolute;
    left: 15px;
    top: 30px ;
  }
  .popup h5 {
    color: var(--accent-2);
    position: absolute;
    left: 15px;
    top: 50px;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-5);
  }
  .popup .close:hover {
    color: var(--accent);
  }
  .popup .content {
    overflow: auto;
    font-size: 0.8rem;
    position:relative;
    margin-top: 60px;
    width: 90%;
  }
  .popup .imagediv{
    width: 85%;
    height: auto;
    position: relative;
    margin-top: 10px;
  }

  .popup .imagediv img {
    width:100%;
    height: 100%;
    object-fit:cover;
}
  .popup .railimagediv{
    height: 300px;
    width: auto;
    position: relative;
    margin-top: 60px;
}

  .popup .railimagediv img {
    width:100%;
    height: 100%;
    object-fit:cover;
}
  
.popup .wordleimagediv{
    height: 300px;
    width: auto;
    position: relative;
    margin-top: 60px;
}

  .popup .wordleimagediv img {
    width:100%;
    height: 100%;
    object-fit:cover;
}

/* blog section starts here */
.section-blog{
    width: 85%;
    margin: 100px auto 0;
    position: relative;
}
 .section-blog .fake-big-2{
    font-size: 9rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    right: 0;
} 
/* 
.blog-articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.post-articles{
    width: 100%;
    height: 220px;
    background-color: var(--dark-6);
    padding: 25px;
    color: var(--dark-4);
    box-shadow: 0 0 5px 5px var(--dark-2);
    margin-bottom: 30px;
}
.post-date{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.blog-post-title h5 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
    display: block;
    margin: 15px 0;
}
.blog-post0title h5 a:hover{
    color: var(--blog-hover);
} */

/*Reactive Timeline Section*/
.timelinecontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    padding-top: 7px;
    background-color: var(--darkgreen-5);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3),
    0px 15px 12px 0px rgba(0,0,0,0.22);
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: var(--parchment);
  }
  .timeline-content h3 {
    color: var(--accent-2);
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }



/* Contact section stylings */

.contact-heading{
    margin-bottom: 30px;

}
.contact-section{
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.form-input-group{
    width: 100%;
    position: relative;
}
.form-input-group input, textarea{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 0.957rem;
    box-shadow: 0 0 0px 1000px var(--darkgreen-5) inset;
    color: var(--parchment);
}
.form-input-group textarea{
    height: 25vh;
    padding: 10px 20px;
}
.submit-button{
    background: transparent;
    border: none;
    outline:none;
    float: right;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    color: var(--parchment);
}
.form-input-group input + span::after, .form-input-group textarea + span::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: var(--accent);
    bottom: 5px;
    left: 0px;
    transition: ALL 0.3s linear;
}
::placeholder {
    color: white;
}

.form-input-group input:focus + span::after , .form-input-group textarea:focus + span::after{
    width: 100%;
}

.error input, .error textarea{
    border-bottom: 2px solid red;
    transition: all .2s linear;
}

.success input, .success textarea{
    border-bottom: 2px solid green;
    transition: all .2s linear;
}

.message{
    position: absolute;
    top: 500px;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
}
.message-content {
    padding: 15px;
    background: red;
    color: var(--white);
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
}
.message-content.hide {
    opacity: 0;
}

.google-map{
    width: 100%;
    position: relative;
}
.google-map iframe{
    width: 100%;
    margin-top: 50px;
    height: 60vh;
}
.map-content{
    background-color: var(--dark-0);
    color: var(--white);
    position: absolute;
    top: 70px;
    left: 40px;
    padding: 20px;
    backdrop-filter: blur(70%);
}
.map-content span{
    font-size: 16px;
    line-height: 1.5rem;
}



/* media query section for bigger screens*/

@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
    }
    .btns-container{
        display: none;
    }
    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
        padding: 0;
    }
    .social-icons li{
        text-align: center;
        font-size: 1rem;
    }
    /*home section*/
    #section-home{
        padding-left: 13rem;
    }
    .text-zone h1{
        font-size: 6.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone img{
        width: 50px;
    }
    .text-zone .gray-text{
        font-size: 1rem;
    }
    .scroll-down{
        right: 30px;
        bottom: 3.3 rem;
    }
    .scroll-down--left{
        left: 115px;
        right: auto;
    }
    /* this is the end of section one */
    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width:  700px;
        font-size: 14px;
        line-height: 1.5rem;
    }
    .fake-big-2{
        font-size: 25rem;
        font-weight: 700;
        left: 320px;
        top: 0;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }

    /* popup styling */
    .popup {
        width: 800px;
        height: 450px;
        flex-direction: row;
    }
    .popup h2{
        font-size: 2.5rem;
    }
    .popup h4{
        top: 50px;
        font-size: 1.3rem;
    }
    .popup h5{
        top: 73px;
        font-size: 1rem;
    }
    .popup .content{
        width: 400px;
        margin-top: 80px;
        font-size: 1rem;
    }
    .popup .imagediv{
        width: 400px;
        max-height: 300px;
        margin-top: 90px;
        margin-right: 10px;
        margin-left: 10px;
    }
    


    /* about section */
    #section-about{
        flex-direction: row;
        padding-left: 13rem;
    }
    .text-zone3 #header{
        width: 500px;
        font-size:3rem;
    }
    .text-zone3 p{
        width: 400px;

    }
    .skill-charts{
        margin-right: 20%;

    }


    /* blog section */
    /* .section-blog{
        width: 90%;
        margin: 100px auto 0;
    }
    .section-blog .fake-big-2{
        font-size: 27rem;
        top: -270px;
    }
    .blog-articles{
        width: 90%;
        margin: 0 0 0 auto;
        flex-flow: row wrap;
    }
    .post-articles{
        width: 340px;
        height: 270px;
    }
    .blog-post-title h5 a{
        font-size: 1.7rem;
        line-height: 2rem;
    } */

    /*Timeline Section*/
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: var(--parchment);
      }
      .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
      }
      .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
      }
      .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
      }
      .timeline ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: var(--parchment);
        top: 0px;
      }
      .timeline ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
      }
      .timeline ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
      }
      .timeline-content .date {
        position: absolute;
        top: -30px;
      }
      .timeline-content h1 {
        margin-top: 10px;
        color: var(--parchment);
      }
      .timeline ul li:hover::before {
        background-color: var(--accent-2);
      }


    /* section contact */
    .contact-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-column-gap: 2.5rem;
        left: -50px;
    }
    .contact-form {
        width: 450px;
        margin: 0 0 0 auto;
    }
    .form-input-wrapper {
        display: grid;
        grid-template-columns: 0.9fr 0.9fr;
        grid-column-gap: 1rem;
    }
    .form-input-wrapper .form-input-group .name{
        width: 177px;
    }
    .form-input-wrapper .form-input-group .email{
        width: 177px;
    }
    .form-input-group .subject{
        width: 410px;
    }
    .form-input-group .textarea{
        width: 410px;
    }

    .google-map {
        left: 50px;
    }
    .google-map iframe {
        width: 100%;
        height: 100vh;
    }
    .message {
        bottom: 100px;
    }


}